section#main
    header.header
        h1 Queue
        h1.batch-queue
            a(href='#') +
    article.queue-cover
        figure.coverart
            img(src='#')
                img(src='#{playing.queuecover}')
    section.playlist.queue
        table
            thead
                tr
                    th(align='center')
                    th Track
                    th Get
                    th Artist
                    th.right Time
                    th Album
                    th
            tbody.tracklist
                - if (typeof queue !== 'undefined' && queue.length > 0) {
                    each track in queue
                        tr.track
                            td.star
                                a(href='#star') &#9733;
                            td
                                a(rel='song', href='#{track.href}') #{track.name}
                            td
                            td 
                                a(href='#{track.artists[0].href}') #{track.artists[0].name}
                            td.right #{track.length}
                            td
                                a(href='#{track.album.href}') #{track.album.name}
                            td
                - }
section#search-section.is-hidden
    header.header
        h1 Search
    article.search-cover
        figure.coverart
            img(src='#')
                img(src='#{playing.queuecover}')
    section.playlist.search
        table
            thead
                tr
                    th(align='center')
                    th Track
                    th Get
                    th Artist
                    th.right Time
                    th Album
                    th
            tbody.tracklist