section#playlists
    nav
        ul.playlists
            li
                a(href='#').queue Queue
            li
                a(href='#').starred Starred 
            - if (typeof playlists !== 'undefined') {
                each playlist in playlists
                    li
                        a(href='#').#{playlist.name} #{playlist.name}
            - }
        ul.new
            li
                a(href='#').new-list New Playlist 
    section#current
        a(href='#')
            figure
                - if (currentTrack && typeof currentTrack !== 'undefined') {
                    img(src='#{currentTrack.cover}')
                    figcaption
                    strong.song #{currentTrack.name}
                    span.band #{currentTrack.artists[0].name}
                - } else {
                    img(src='/playing_default.jpg')
                    figcaption
                    strong.song No track
                    span.band No artist
                - }